
@model ContactCA.Api.Models.ContactViewModel

@{
    var localStrings = DependencyResolver.Current.GetService<ContactCA.Api.Core.ILocalStrings>();
}
<section class="page-section" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Contact Us</h2>
                <h3 class="section-subheading text-muted">Thanks for visiting!  Reach out if we can assist you in any way.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form id="contactForm" name="sentMessage" novalidate="novalidate">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input class="form-control" id="fname" data-bind="value: firstName"
                                               type="text" placeholder="Your First Name *" required="required" data-validation-required-message="Please enter your first name."
                                               maxlength="40" data-validation-maxlength-message="Maximum length exceeded.">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" id="lname" data-bind="value: lastName"
                                               type="text" placeholder="Your Last Name *" required="required" data-validation-required-message="Please enter your last name."
                                               maxlength="40" data-validation-maxlength-message="Maximum length exceeded.">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="email" data-bind="value: emailAddress"
                                       type="email" placeholder="Your Email *" required="required" data-validation-required-message="Please enter your email address."
                                       maxlength="80" data-validation-maxlength-message="Maximum length exceeded.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="phone" data-bind="value: telephone"
                                       type="tel" placeholder="Your Phone *" required="required" data-validation-required-message="Please enter your phone number." 
                                       minlength="10" data-validation-minlength-message="Invalid phone number" 
                                       maxlength="16" data-validation-maxlength-message="Invalid phone number.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" id="message" data-bind="value: message"
                                          placeholder="Your Message " maxlength="400" data-validation-maxlength-message="Maximum length exceeded."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="row">
                                @*<div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" id="calldate"
                               type="datetime" placeholder="Best Call Date *" required="required" data-validation-required-message="Please enter a call date.">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>*@
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <select class="form-control" id="calltime" data-bind="value: bestTimeToCall" step="15"
                                                type="" placeholder="Best Call Time *" required="required" data-validation-required-message="Please enter call time.">
                                            @*see ContactViewModel.js for addition of other options*@
                                            <option value="" selected disabled hidden>Best Call Time *</option>
                                        </select>
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Send Message</button>
                        </div>
                        <div class="col-lg-12 text-center">
                            <div id="reCaptchaWidget"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<div class="hidden" id="reCaptchaSiteKey" value="@Model.RecaptchaSiteKey"></div>