<!-- Services -->
<section class="page-section" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Services</h2>
                <h3 class="section-subheading text-muted">Need a technology fix?  Great, You've come to the right place!</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">E-Commerce</h4>
                <p class="text-muted">Ecommerce is Simple and Fun with Our Platform: Mobile Ready, Fully Hosted, Has 100+ Professional Themes, and Drop Shipping and Social Media Integration. Nice, yes?!</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Responsive Design</h4>
                <p class="text-muted">Do Your Web Pages Adapt Easily Across All Devices? Do Your Images Scale To Ensure They Conform To Content Being Presented?. If Not, You Need Our Help. :)</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Web Security</h4>
                <p class="text-muted">Web App Tech is Evolving at a Blistering Pace. Are your Application Security tools Keeping Up? Not sure? We can Help. Our solutions are Top-Rated by Gartner. Trials are available.</p>
            </div>
        </div>
    </div>
</section>